<h1>Mon profil | <%= link_to "Modifier mon profil", profil_edit_path  %></h1>


<h4><%= @driver_profile.first_name %> <%= @driver_profile.last_name %></h4>
<%= cl_image_tag @driver_profile.photo, height: 100, width: 100, crop: :fit %>

<h5>E-mail : <%= @driver_profile.email %></h5>
<h5>Adresse : <%= @driver_profile.address %> <%= @driver_profile.city %> <%= @driver_profile.zip_code %></h5>
<h5>Date de naissance : <%= @driver_profile.birthdate %></h5>
<h5>N° de téléphone : <%= @driver_profile.telephone_number %></h5>
<h6>Permis de conduire :</h6> <br> <%= cl_image_tag @driver_profile.driving_license, height: 300, width: 400, crop: :fit %>
<h6>Carte d'identité : </h6> <br> <%= cl_image_tag @driver_profile.identity_card, height: 300, width: 400, crop: :fit %>


