<h1>Driver Profile</h1>


<h4><%= @driver_profile.title %> <%= @driver_profile.first_name %> <%= @driver_profile.last_name %></h4>
AVATAR

<h5>E-mail : <%= @driver_profile.email %></h5>
<h5>Adresse : <%= @driver_profile.address %> <%= @driver_profile.city %> <%= @driver_profile.zip_code %></h5>
<h5>Date de naissance : <%= @driver_profile.birthdate %></h5>
<h5>N° de téléphone : <%= @driver_profile.telephone_number %></h5>
<h6>Permis de conduire : <%= @driver_profile.driving_license? %></h6>
<h6>Carte d'identité : <%= @driver_profile.identity_card? %></h6>

<%= link_to "Edit your profile", profil_edit_path  %>
