<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h1 class="modal-title" id="myModalLabel">Connectez-vous pour continuer</h1>
      </div>
      <div class="modal-body">
        <div class="containe">
          <div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1">
              <% user = User.new %>
              <% resource_name = :user %>
              <%= simple_form_for(user, as: resource_name, url: session_path(resource_name)) do |f| %>
                <div class="form-inputs">
                  <%= f.input :email, label: 'Email', required: false, autofocus: true, placeholder: "bob@gmail.com" %>
                  <%= f.input :password, label:'Mot de passe', required: false, placeholder: "••••••" %>
                  <%= f.input :remember_me, label:'Se souvenir de moi', as: :boolean if Devise.mappings[resource_name].rememberable? %>
                </div>
                <div class="form-actions">

                  <%- if controller_name != 'sessions' %>
                    <%= button_to "Connexion", new_session_path(:user), class: "btn btn-primary" %><br />
                  <% end -%>

                  <%- if Devise.mappings[:user].recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
                    <%= link_to "Mot de passe oublié?", new_password_path(:user) %><br />
                  <% end -%>
                  <div class="titre">
                    <span class="titre1">
                      <q> ou continuez avec </q>
                    </span>
                  </div>
                  <%- if Devise.mappings[:user].omniauthable? %>
                    <%- User.omniauth_providers.each do |provider| %>
                      <%= button_to "#{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(:user, provider), class: "btn btn-primary" %><br />
                    <% end -%>
                  <% end -%>
                </div>
              <% end -%>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <p>Vous n'avez pas de compte? <%- if Devise.mappings[:user].registerable? && controller_name != 'registrations' %>
                    <%= link_to "Inscription", new_registration_path(:user) %><br />
                  <% end -%></p>
      </div>
    </div>
  </div>
</div>

