<div class="body-wrap">
  <div class="container">
    <%= render 'subnav' %>

    <div class="dash">
    <p> Prix de mon contrat de location Longue Durée Smap: <span id="monthly-price"><%= @driver_profile.car.monthly_price %>€ par mois</span></p>
    <p> Durée : 3 Février 2018 - 2 février 2020 </p>
      <table>
  <caption> Mes Locations Courte Durée </caption>
  <caption> <    Mars 2018     > </caption>
   <tr>
       <th> Date </th>
       <th> Durée </th>
       <th> Locataire Courte Durée </th>
       <th> Economie réalisée </th>
   </tr>

   <tr>
       <td> 03/03/2018 </td>
       <td> 2 jours</td>
       <td> <%= image_tag 'https://clowntownforkidz.files.wordpress.com/2014/01/clown-charlie-chaplin1.jpg', width: 35, height: 35, class: "avatar-courte" %> Jean Jacques Michu</td>
       <td> - 40 € </td>
   </tr>

   <tr>
       <td> 07/03/2018 </td>
       <td> 2 heures </td>
       <td> <%= image_tag 'https://javalosdotme.files.wordpress.com/2012/12/ada_lovelace.jpg?w=570', width: 35, height: 35, class: "avatar-courte" %> Marie Vinot </td>
       <td> - 4 € </td>
   </tr>

   <tr>
       <td> 10/03/2018 </td>
       <td> 6 heures</td>
       <td> <%= image_tag 'https://clowntownforkidz.files.wordpress.com/2014/01/clown-charlie-chaplin1.jpg', width: 35, height: 35, class: "avatar-courte" %> Jean Jacques Michu</td>
       <td> - 12 € </td>
   </tr>


    <tr>
       <td> 26/03/2018 </td>
       <td> 6 heures </td>
       <td> <%= image_tag 'https://image.tmdb.org/t/p/original/1uwX5nQkqZx5Hus2IJW6gEACX7Z.jpg', width: 35, height: 35, class: "avatar-courte" %> Djamel Sour </td>
       <td> - 18 € </td>
    </tr>
</table>
<p> Prix mensuel de mon véhicule après locations Courte Durée: <span id="price-after"></span>€ par mois</p>
</div>


    </div>
  </div>
