<div class="container">
  <h1 class="text-center" ></h1>
  <div class="tabs">
    <a class="tab active" href="<%= dashboard_profile_path %>">
      <h3>Mon profil</h3>
      <h2><i class="fas fa-address-card"></i></h2>
    </a>
    <a class="tab" href="<%= dashboard_path %>">
      <h3>Ma voiture SMAP</h3>
      <h2><i class="fas fa-car"></i></h2>
    </a>
    <a class="tab" href="<%= dashboard_slot_path %>">
      <h3>Mes disponibilités</h3>
      <h3>et adresses</h3>
      <h2><i class="far fa-calendar-alt"></i></h2>
    </a>
    <a class="tab" href="<%= dashboard_bill_path %>">
      <h3>Ma facture</h3>
      <h2><i class="far fa-money-bill-alt"></i></h2>
    </a>
  </div>
  <div class="profil">
    <h1>Mon profil | <%= link_to "Modifier mon profil", profil_edit_path  %></h1>

    <h4><%= @driver_profile.first_name %> <%= @driver_profile.last_name %></h4>
    <%= cl_image_tag @driver_profile.photo, height: 100, width: 100, crop: :fit %>

    <h5>E-mail : <%= @driver_profile.email %></h5>
    <h5>Adresse : <%= @driver_profile.address %> <%= @driver_profile.city %> <%= @driver_profile.zip_code %></h5>
    <h5>Date de naissance : <%= @driver_profile.birthdate %></h5>
    <h5>N° de téléphone : <%= @driver_profile.telephone_number %></h5>
    <h6>Permis de conduire :</h6> <br> <%= cl_image_tag @driver_profile.driving_license, height: 300, width: 400, crop: :fit %>
    <h6>Carte d'identité : </h6> <br> <%= cl_image_tag @driver_profile.identity_card, height: 300, width: 400, crop: :fit %>
  </div>
</div>

