<div class="body-wrap">
  <div class="container">
    <%= render 'subnav' %>

    <div class="dash">
       <div class="conducteurs">
        <div class="flex" >
          <%= cl_image_tag @driver_profile.photo, class: "avatar-main" %>
          <div class="principal">
            <h6> <%= @driver_profile.first_name %>  <%= @driver_profile.last_name %> </h6>
            <p>(Conducteur principal)</p>
         </div>
       </div>

       <div class="credential">
         <div class="driving-license">
           <% if @driver_profile.driving_license.blank? %>
            <h4>Permis de conduire : <i class="fas fa-times"></i></h4>
           <%= link_to "Ajouter le permis de conduire", profil_edit_path%>
           <% else %>
           <h4>Permis de conduire : </h4>
            <i class="fas fa-check"></i>
           <% end %>
         </div>
         <div class="id-card">
           <% if @driver_profile.identity_card.blank? %>
            <h4>Permis de conduire : <i class="fas fa-times"></i></h4>
           <%= link_to "Ajouter la carte d'identité", profil_edit_path%>
           <% else %>
           <h4>Carte d'identité : </h4>
            <i class="fas fa-check"></i>
           <% end %>
         </div>
       </div>
      </div>
      <% @driver_profile.additional_drivers.each do |ad| %>
      <hr>
      <div class="conducteur-secondaire">
        <div class="flex" >
          <%= cl_image_tag ad.photo, class: "avatar-main" %> &nbsp;
          <div class="secondaire">
            <h4> <%= ad.first_name %> <%= ad.last_name %> <%= link_to icon('fas', 'pencil-alt'), edit_additional_driver_path(ad) %></h4>
            <p>(Conducteur secondaire) <%= link_to icon('fas', 'trash-alt'), additional_driver_path(ad), data: { confirm: "Are you sure?" }, method: :delete %>
            </p>
         </div>
       </div>
       <div class="credential">
         <div class="driving-license">
           <% if ad.driving_license.blank? %>
           <h4>Permis de conduire : <i class="fas fa-times"></i></h4>
           <%= link_to "Ajouter le permis de conduire", edit_additional_driver_path(ad)%>
           <% else %>
           <h4>Permis de conduire : </h4>
            <i class="fas fa-check"></i>
           <% end %>
         </div>
         <div class="id-card">
           <% if ad.identity_card.blank? %>
           <h4>Permis de conduire : <i class="fas fa-times"></i></h4>
           <%= link_to "Ajouter la carte d'identité", edit_additional_driver_path(ad)%>
           <% else %>
           <h4>Carte d'identité : </h4>
            <i class="fas fa-check"></i>
           <% end %>
         </div>
       </div>
     </div>
       <% end %>
    </div>
       <a href="<%= new_additional_driver_path %>" class="flex text-center add" >
        <div>
          <i class="fas fa-plus-circle smap-color ico"></i> <h5> Ajouter un conducteur secondaire</h5>
        </div></a>
  </div>
</div>
