<div class="container">
  <h1 class="text-center" ></h1>
  <div class="tabs">
    <a class="tab" href="<%= dashboard_profile_path %>">
      <h3>Mon profil</h3>
      <h2><i class="fas fa-address-card"></i></h2>
    </a>
    <a class="tab active" href="<%= dashboard_path %>">
      <h3>Ma voiture SMAP</h3>
      <h2><i class="fas fa-car"></i></h2>
    </a>
    <a class="tab" href="<%= dashboard_slot_path %>">
      <h3>Mes disponibilités</h3>
      <h3>et adresses</h3>
      <h2><i class="far fa-calendar-alt"></i></h2>
    </a>
    <a class="tab" href="<%= dashboard_bill_path %>">
      <h3>Ma facture</h3>
      <h2><i class="far fa-money-bill-alt"></i></h2>
    </a>
  </div>
  <div class="dash">
    <% if @car == nil %>
      <p>Vous n'avez pas de véhicule Smap.</p><%= link_to "Parcourir les véhicules", cars_path %>
    <% else %>
      <h4> <%= @car.brand %>  <%= @car.model %>
          <% a = [] %>
          <% @car.ratings.each do |rate| %>
            <% a << rate.rate %>
          <% end %>
          <% note = a.instance_eval { reduce(:+) / size.to_f } %>
          <% if note == 5 %>
            <%= icon('fas', 'star', class: 'smap-color') %>
            <%= icon('fas', 'star', class: 'smap-color') %>
            <%= icon('fas', 'star', class: 'smap-color') %>
            <%= icon('fas', 'star', class: 'smap-color') %>
            <%= icon('fas', 'star', class: 'smap-color') %>
          <% elsif note >= 4.5 %>
            <%= icon('fas', 'star', class: 'smap-color') %>
            <%= icon('fas', 'star', class: 'smap-color') %>
            <%= icon('fas', 'star', class: 'smap-color') %>
            <%= icon('fas', 'star', class: 'smap-color') %>
            <%= icon('fas', 'star-half', class: 'smap-color') %>
          <% elsif note >= 4 %>
            <%= icon('fas', 'star', class: 'smap-color') %>
            <%= icon('fas', 'star', class: 'smap-color') %>
            <%= icon('fas', 'star', class: 'smap-color') %>
            <%= icon('fas', 'star', class: 'smap-color') %>
          <% elsif note >= 3.5 %>
            <%= icon('fas', 'star', class: 'smap-color') %>
            <%= icon('fas', 'star', class: 'smap-color') %>
            <%= icon('fas', 'star', class: 'smap-color') %>
            <%= icon('fas', 'star-half', class: 'smap-color') %>
          <% elsif note >= 3 %>
            <%= icon('fas', 'star', class: 'smap-color') %>
            <%= icon('fas', 'star', class: 'smap-color') %>
            <%= icon('fas', 'star', class: 'smap-color') %>
          <% elsif note >= 2.5 %>
            <%= icon('fas', 'star', class: 'smap-color') %>
            <%= icon('fas', 'star', class: 'smap-color') %>
            <%= icon('fas', 'star-half', class: 'smap-color') %>
          <% elsif note >= 2 %>
            <%= icon('fas', 'star', class: 'smap-color') %>
            <%= icon('fas', 'star', class: 'smap-color') %>
          <% elsif note >= 1.5 %>
            <%= icon('fas', 'star', class: 'smap-color') %>
            <%= icon('fas', 'star-half', class: 'smap-color') %>
          <% elsif note >= 1 %>
             <%= icon('fas', 'star', class: 'smap-color') %>
          <% else %>
            <%= icon('fas', 'star-half', class: 'smap-color') %>
          <% end %>
        </h4>
      <div class="car-dash">
        <%= cl_image_tag @car.photo, width: 330, height: 165, class: "car-avatar" %>
        <div class="icon-list">
          <div class="icon-card">
            <h4 class="icons-li"><i class="fas fa-users smap-color"></i> &nbsp; <%= @car.seat %> Places</h4>
            <h4 class="icons-li"><i class="tiny material-icons smap-color" style="font-size: 30px" >local_gas_station</i> &nbsp; <%= @car.energy %></h4>
          </div>
          <div class="icon-card">
            <h4 class="icons-li"><i class="fas fa-cogs smap-color"></i> &nbsp; <%= @car.transmission %></h4>
            <h4 class="icons-li"><i class="fas fa-car smap-color"></i> &nbsp; <%= @car.car_door %> Portes</h4>
          </div>
          <div class="icon-card">
            <h4 class="icons-li"><i class="fas fa-suitcase smap-color"></i></i> &nbsp; <%= @car.lugage %> Bagages</h4>
          </div>
        </div>
      </div>
    <% end %>
    <hr>
    <h4>Les conducteurs : </h4>
    <div class="conducteurs">
      <div class="flex" >
        <%= cl_image_tag @driver_profile.photo, class: "avatar-main" %> &nbsp;
        <div class="principal">
          <h6> <%= @driver_profile.first_name %>  <%= @driver_profile.last_name %> </h6>
          <p>(Conducteur principal)</p>
       </div>
     </div>
     <% @driver_profile.additional_drivers.each do |ad| %>
      <div class="flex" >
        <%= cl_image_tag ad.photo, width: 100, height: 100, class: "avatar" %> &nbsp;
        <div class="secondaire">
          <h6> <%= link_to " #{ad.first_name} #{ad.last_name} ", edit_additional_driver_path(ad) %> </h6>
          <p>(Conducteur secondaire) <%= link_to "Supprimer", additional_driver_path(ad), data: { confirm: "Are you sure?" }, method: :delete %></p>
       </div>
     </div>
     <% end %>
     <div class="flex" >
        <a href="<%= new_additional_driver_path %>" class="add-driver" ><i class="fas fa-plus-circle smap-color"></i></a> &nbsp;
        <div class="principal">
          <h6> Ajouter un conducteur secondaire </h6>
       </div>
     </div>
    </div>
  </div>
</div>

