<div class="body-wrap">
  <div class="container">
    <h1 class="text-center"></h1>
    <div class="tabs">
      <a class="tab" href="<%= dashboard_profile_path %>">
        <h3>Mon profil</h3>
        <h2>
          <i class="fas fa-address-card"></i>
        </h2>
      </a>
      <a class="tab" href="<%= dashboard_path %>">
        <h3>Ma voiture SMAP</h3>
        <h2>
          <i class="fas fa-car"></i>
        </h2>
      </a>
      <a class="tab active" href="<%= dashboard_slot_path %>">
        <h3>Mes disponibilités</h3>
        <h3>et adresses</h3>
        <h2>
          <i class="far fa-calendar-alt"></i>
        </h2>
      </a>
      <a class="tab" href="<%= dashboard_bill_path %>">
        <h3>Ma facture</h3>
        <h2>
          <i class="far fa-money-bill-alt"></i>
        </h2>
      </a>
    </div>
    <div class="dash">
      <h3>Toutes mes disponibilités</h3>
      <div class="calendar" data-slots="<%= @driver_profile.addresses.map{|a| [a.id, a.slots]}.to_json %>"></div>




      <h3>Mes adresses :</h3>
      <div class="panel-group" id="addresses-accordion">
        <% @driver_profile.addresses.each_with_index do |address, index| %>
          <div class="panel panel-default">
            <div class="panel-heading">
              <a role="button" data-toggle="collapse" data-parent="#addresses-accordion" href="#address<%= index + 1 %>">
                <h4 class="panel-title">
                  <span class="address-name"><%= address.name %></span>
                  :
                  <%= address.address %>
                  <%= address.zip_code %>
                  <%= address.city %>
                </a>
              </h4>
            </div>
            <div id="address<%= index + 1 %>" class="panel-collapse collapse">
              <div class="panel-body">
                <div class="calendar" data-slots="<%= [[address.id, address.slots]].to_json %>"></div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
