<div class="container">
  <h1 class="text-center" >Tableau de bord</h1>
  <div class="tabs">
    <a class="tab" href="<%= dashboard_path %>">
      <h3>Ma voiture SMAP</h3>
      <h2><i class="fas fa-car"></i></h2>
    </a>
    <a class="tab active" href="<%= dashboard_slot_path %>">
      <h3>Mes disponibilités</h3>
      <h3>et adresses</h3>
      <h2><i class="fas fa-address-card"></i></h2>
    </a>
    <a class="tab" href="<%= dashboard_bill_path %>">
      <h3>Ma facture</h3>
      <h2><i class="far fa-money-bill-alt"></i></h2>
    </a>
  </div>
  <div class="dash">
    <h3>Mes adresses :</h3>
    <% @driver_profile.addresses.each do |address| %>
      <p> <%= address.name %> : <%= address.address %> <%= address.zip_code %> <%= address.city %></p>
       <%= link_to "Modifier cette adresse", edit_address_path(address) %>
       <%= link_to "Supprimer cette adresse", address_path(address), data: { confirm: "Are you sure?" }, method: :delete %>
    <% end %>

    <%= link_to "Ajouter une adresse", new_address_path %>


    <hr>

    <h3>Mes disponibilités :</h3>
    <%= link_to "Ajouter une disponibilité", new_slot_path %>
  </div>
</div>

