<div class="body-wrap">
  <div class="container">
    <h1 class="text-center" >Estimer ma facture mensuelle avec SMAP</h1>
    <div class="flex-estim">
      <div class="contrat">
        <h1><%= @car.brand %> <%= @car.model %>, <span id="category"><%= @car.category %></span></h1>
        <h3>Le contrat SMAP comprend:</h3>
        <ul>
          <li>L'essence</li>
          <li>L'assurance</li>
          <li>L'entretien</li>
        </ul>
        <h4>Pour seulement <%= @car.monthly_price %> € par mois</h4>
        <div class="car-card">
          <%= cl_image_tag @car.photo, width: 330, height: 165, class: "car-avatar" %>
        </div>
      </div>
      <div class="estimer text-center">
        <h4>Du lundi au vendredi, ma voiture sera disponible :</h4><h2><span id="sval" >60</span> heures</h2>
        <br>
        <input id="semaine" class="slider" type="range" min="0" max="120" step="1" />
        <br>
        <h4>Le week-end, elle sera disponible :</h4> <h2><span id="wval">24</span> heures </h2>
        <br>
        <input id="weekend" class="slider" type="range" min="0" max="48" step="1" />
        <hr>
        <h2>Mon estimation : </h2>
        <h4><span id="tarif"><%= @car.monthly_price %></span> € / mois ---->
       <span id="estimation"><%= @car.monthly_price %></span>€ / mois</h4>

      <hr>

        <%= link_to "Souscrire à SMAP ! ", souscription_path(@car), class: "btn-smap" %>
      </div>
    </div>
  </div>
</div>
