<div class="container">
  <h1><%= @car.brand %> <%= @car.model %></h1>
  <img src="<%= @car.photo %>" alt="">
  <p><%= @car.description %></p>

  <p><%= @car.energy %></p>
  <p><%= @car.seat %> places</p>
  <p><%= @car.lugage %> bagages</p>
  <p><%= @car.transmission %></p>
  <p><%= @car.car_door %> portes</p>
  <p>Concessionnaire : <span id="concessionnaire_name"><%= @car.concessionnaire_name %></span>, situé <span id="concessionnaire_address"><%= @car.concessionnaire_address %></span></p>
  <div id="map"></div>

  <%= link_to "Estimer ma facture !", estimation_path(@car) %>
</div>
