<div class="container">
  <h1><%= @car.brand %> <%= @car.model %></h1>
  <img src="<%= @car.photo %>" alt="">
  <p><%= @car.description %></p>

  <p><%= @car.energy %></p>
  <p><%= @car.seat %> places</p>
  <p><%= @car.lugage %> bagages</p>
  <p><%= @car.transmission %></p>
  <p><%= @car.car_door %> portes</p>
  <p>Concessionnaire : <%= @car.concessionnaire_name %>, situé <%= @car.concessionnaire_address %></p>

</div>
